# Each line is a file pattern followed by one or more owners.
# These owners will be the default reviewers for pull requests to the matched files.
# For more information, see: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for all files, unless a more specific rule matches
* @bhebb

# Web application
/tchalanet-web/ @bhebb

# Mobile application
/tchalanet-mobile/ @bhebb

# Server application (backend)
/tchalanet-server/ @bhebb

# Infrastructure (Terraform, Docker Compose, etc.)
/tchalanet-infra/ @bhebb

# Documentation
/tchalanet-docs/ @bhebb

# GitHub-related configuration (workflows, templates, etc.)
/.github/ @bhebb
