# Add files here to ignore them from prettier formatting
/.nx/cache
/.nx/workspace-data

dist/
tmp/
out-tsc/
coverage/
.angular/

# Dependencies
node_modules/

# IDE
.idea/
.vscode/
.project
.classpath
.settings/

# Misc
.git/
.gitignore
.DS_Store
npm-debug.log
yarn-error.log

.angular
