@use '../../../../../../../../../libs/ui/styles/src/lib/index' as ui;

.draw-results-page {
  &__table {
    overflow-x: auto;

    table {
      width: 100%;
    }

    code {
      font-family: monospace;
      font-size: 0.8125rem;
    }
  }

  &__row-actions {
    display: flex;
    gap: 0.25rem;
    align-items: center;
  }
}
