@use '../limits-child-page';

.limits-draw-page__channel-select {
  flex: 1;
  max-width: 320px;
}

.limits-draw-page__channel-error {
  display: flex;
  flex: 1;
  align-items: center;
  gap: .75rem;
  flex-wrap: wrap;
}
