<div class="ptac">
  <h5 class="ptac__title">
    <span class="material-symbols-outlined">monitoring</span>
    Activité du terminal
  </h5>

  @if (loading()) {
    <div class="ptac__loading">
      <span class="material-symbols-outlined ptac__spin">progress_activity</span>
    </div>
  } @else if (activity(); as a) {
    <div class="ptac__rows">
      <div class="ptac__row">
        <span class="ptac__label">Ventes du jour</span>
        <span class="ptac__value">{{ a.salesTotalCents / 100 | number:'1.0-0' }} HTG</span>
      </div>
      <div class="ptac__progress">
        <div class="ptac__progress-bar" style="width: 65%"></div>
      </div>
      <div class="ptac__row">
        <span class="ptac__label">Tickets émis</span>
        <span class="ptac__value">{{ a.ticketCount }}</span>
      </div>
    </div>
  } @else {
    <p class="ptac__empty">Aucune activité disponible.</p>
  }
</div>
