<tch-admin-page-shell
  [title]="'admin.drawSalesMatrix.title' | translate"
  [description]="'admin.drawSalesMatrix.description' | translate"
>
  <div actions>
    <button mat-stroked-button (click)="load()">
      <span class="material-symbols-outlined">refresh</span>
      {{ 'admin.drawSalesMatrix.action.refresh' | translate }}
    </button>
  </div>

  <tch-async-view
    [resource]="matrixResource"
    [error]="matrixError()"
    [loadingLabel]="'admin.drawSalesMatrix.loading' | translate"
    [retryLabel]="'common.retry' | translate"
    (retry)="load()"
  >
    <ng-template tchAsyncReady>
      @if (activeMatrix(); as matrixVm) {
        <tch-draw-sales-matrix-provider-list
          [providers]="matrixVm.providers"
          [actingKey]="acting()"
          [actionErrors]="actionErrors()"
          [actionNotices]="actionNotices()"
          [pendingEnabled]="pendingEnabled()"
          (gameAction)="onMatrixGameAction($event)"
        />
      }
    </ng-template>
  </tch-async-view>
</tch-admin-page-shell>
